@media (max-width: 1200px) {
    .hero{
        text-align: center;
    }
    .hero .buttons {
        flex-wrap: wrap;
        justify-content: center;
      }
      .free .card{
          margin-bottom: 25px;
      }
      .details .col-xl-7{
          margin-bottom: 60px;
          padding: 0px 20px 0px 20px;
      }
      .accordions{
          padding-right: 25px;
      }
      .accordions1 {
        padding-left: 25px;
        padding-right: 25px;
    }
    .secondType .row{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .supercharge .text-section{
        padding-top: 90px;
        margin-bottom: -50px;
      }
      .footer input{
        width: 230px;
      }
      .details .images {
        margin-left: 0px;
    }
    .secondType .image{
      margin-right: 0px;
    }
}
@media (max-width: 768px) { 
    .supercharge h1{
        font-size: 40px;
    }
    .supercharge .text-section{
        padding-top: 90px;
        margin-bottom: 0px;
      }
      .footer input{
        width: 210px;
      }
      .footer .send {
     
        width: 48px;
        margin-left: -51px;
      }
      .resources .row .card{
          margin-bottom: 40px;
      }
     
}
@media (max-width: 576px) {
    .supercharge h1{
        font-size: 32px;
    }
    .supercharge h2{
        font-size: 20px;
        padding: 11px;
    }
    .supercharge .text-section{
        padding-top: 90px;
        margin-bottom: 0px;
      }
      /* .footer .container{
          margin-left: 20px;
          padding-left: 20px;
      } */
      .footer input{
        width: 240px;
      }
      .footer .send {
        height: 50px;
        width: 50px;
        margin-left: -54px;
        border-radius: 0px 5px 5px 0px;
    }
    .footer{
      padding-left: 40px;
    }
    .hero{
        padding-top: 22px;
    }
    .hero h2 {
        font-size: 25px;
        line-height: 38px;
        padding-top: 75px;
      }
      .floating .card{
          display: flex;
          flex-direction: column !important;
      }
      .free .floating .card{
        padding: 20px;
        text-align: center;
      }
      .free .floating .card h2 {
        padding: 0px 35px;
    }
      .free .floating img{
        width: 20%;
        margin: auto;
        padding-bottom: 20px;
        /* height: 50%; */
      }

      .featured .col-md-3{
          margin-bottom: 36px;
      }
      .testimonial h5{
        font-size: 18px;
        
      }
      
      .testimonial p {
        font-size: 15px;
        
      }
 }


@media (max-width: 992px) {
    
 }


@media (max-width: 1400px) { 

}

